//main app colors
$primaryBrandColor: #218685;
$secondaryBrandColor: #a4927e;
$tertiaryBrandColor: #0e0001;
$secondaryColorHover: #d1c1af;

//scroll bar
$scrollBar: #ffffff;
$scrollBarBackground: grey;
$scrollBarHover: rgb(185, 6, 6);
