@import '../../shared/variables';

.item-card {
  max-width: 100%;
  border: $tertiaryBrandColor 5px solid;
}

.item-img {
  height: 300px;
  cursor: pointer;
}

.item-name {
  text-align: center;
  padding: 2%;
  background-color: $tertiaryBrandColor;
  color: $secondaryBrandColor;
  cursor: pointer;
}

.price-add-item-container {
  background-color: $tertiaryBrandColor;
  color: $secondaryBrandColor;
}

.item-price {
  font-weight: bold;
  padding-right: 15%;
  font-size: 2em;
}

.cart-add-button {
  padding-top: 25%;
}

button:disabled {
  background-color: grey;
}
