<mat-card role="group" class="item-card">
  <div class="item-name" (click)="displayItemDetails()">
    <mat-card-title>{{ item.name }}</mat-card-title>
  </div>
  <img mat-card-image class="item-img" [src]="item.imgPath" alt="photo of croched item here" (click)="displayItemDetails()">
  <div class="price-add-item-container">
    <mat-card-actions align="end">
      <div class="item-price">
        {{ item.price }} €
      </div>
      <button
        mat-raised-button color="accent"
        [disabled]="addedToCart"
        (click)="addToCart()">
        <div class="cart-add-button">
          <mat-icon *ngIf="!addedToCart">add_shopping_cart</mat-icon>
          <mat-icon *ngIf="addedToCart">check</mat-icon>
        </div>
      </button>
    </mat-card-actions>
  </div>
</mat-card>
