@import '../shared/variables';

mat-toolbar {
  background-color: $tertiaryBrandColor;
  color: $secondaryBrandColor;
}

.navbar-logo {
  max-width: 175px;
  max-height: 55px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar-link {
  text-decoration: none;
  color: $secondaryBrandColor;
}

.navbar-item {
  padding: 0.5%;
  margin-right: 1%;
}

.navbar-icon {
  padding-bottom: 0;
}
