@import '../../shared/variables';

.item-card {
  max-width: 650px;
  border: $tertiaryBrandColor 5px solid;
  overflow: scroll;
  max-height: 800px;
  overflow-x: hidden;
}

.item-img {
  max-height: 600px;
}

.item-name {
  text-align: center;
  padding: 2%;
  background-color: $tertiaryBrandColor;
  color: $secondaryBrandColor;
}

.price-add-item-container {
  background-color: $tertiaryBrandColor;
  color: $secondaryBrandColor;
}

.item-price {
  font-weight: bold;
  padding-right: 15%;
  font-size: 2em;
}

.cart-add-button {
  padding-top: 25%;
}

.item-description {
  background-color: $tertiaryBrandColor;
  color: $secondaryBrandColor;
  padding: 1% 0;
}

p {
  font-size: large;
}
