/* You can add global styles to this file, and also import other style files */
@import '/src/app/shared/variables';

html, body {
  height: 100%;
  background-color: $primaryBrandColor;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//scrollbar
::-webkit-scrollbar {
  width: 5px;
  overflow-y: scroll;
  background: $scrollBarBackground;
  box-shadow: inset 0 0 4px #707070;
  cursor: auto;
}

::-webkit-scrollbar-thumb {
  background: $scrollBar;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollBarHover;
  cursor: pointer !important;
}

.router-active {
  border-bottom: 5px solid $secondaryBrandColor;
}
