// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$brand-palette-aquamarine: (
    50 : #e4f0f0,
    100 : #bcdbda,
    200 : #90c3c2,
    300 : #64aaaa,
    400 : #429897,
    500 : #218685,
    600 : #1d7e7d,
    700 : #187372,
    800 : #146968,
    900 : #0b5655,
    A100 : #8bfffd,
    A200 : #58fffc,
    A400 : #25fffc,
    A700 : #0cfffb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$brand-palette-bronze: (
    50 : #f4f2f0,
    100 : #e4ded8,
    200 : #d2c9bf,
    300 : #bfb3a5,
    400 : #b2a291,
    500 : #a4927e,
    600 : #9c8a76,
    700 : #927f6b,
    800 : #897561,
    900 : #78634e,
    A100 : #ffecda,
    A200 : #ffd2a7,
    A400 : #ffb874,
    A700 : #ffab5b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-crochet-store-primary: mat.define-palette($brand-palette-aquamarine);
$web-crochet-store-accent: mat.define-palette($brand-palette-bronze);

// The warn palette is optional (defaults to red).
$web-crochet-store-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-crochet-store-theme: mat.define-light-theme((
  color: (
    primary: $web-crochet-store-primary,
    accent: $web-crochet-store-accent,
    warn: $web-crochet-store-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($web-crochet-store-theme);

